<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>resultado </h1>
    <p> Resultado da soma entre {{n1}} e {{n2}} é {{resultados['soma']}} </p>
    <p> Resultado da subtração entre {{n1}} e {{n2}} é {{resultados['subtracao']}} </p>
    <p> Resultado da multiplicacao entre {{n1}} e {{n2}} é {{resultados['multiplicacao']}} </p>
    <p> Resultado da divisao inteira entre {{n1}} e {{n2}} é {{resultados['divisao_inteira']}} </p>
    <p> Resultado da divisao Fracionada entre {{n1}} e {{n2}} é {{resultados['divisao_fracionada']}} </p>
    <p> Resultado d0 resto da divisão entre {{n1}} e {{n2}} é {{resultados['resto']}} </p>
    <p> Resultado da raiz entre {{n1}} e {{n2}} é {{resultados['raiz']}} </p>
    <a href="/">voltar para pagina inicial</a>
    </body>
</html>